.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f9fafb;
}

.scrollWrapper::-webkit-scrollbar {
  height: 6px;
}
.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

.scrollWrapper::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

.getStartedCell {
  cursor: pointer;
  background-color: #15825c;
  color: #fff;
  font-weight: 700;
  transition: background 0.3s ease;
  text-align: center;
}
.getStartedCell:hover {
  background-color: #146649;
}
